@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@100;200;300;400;500;600,700&display=swap');



:root{
  --bg-black-900:#f2f2fc;
  --bg-black-100:#fdf9ff;
  --bg-black-50:#e8dfec;
  --text-black-900:#302e4d;
  --text-black-700:#504e70;
}

body.dark{
  --bg-black-900:#151515;
  --bg-black-100:#222222;
  --bg-black-50:#39393939;
  --text-black-900:#ffffff;
  --text-black-700:#e9e9e9;
}

body{
  line-height: 1.5;
  font-size: 1rem;
  font-family: 'Poppins' , sans-serif;
}

*{
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
}

::before,::after{
  box-sizing: border-box;
}
h3,.contact-sub-title{
color: var(--text-black-900);

}

ul{
  list-style: none;
}

.section{
  background: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 1.875rem;
  /*opacity: 1;*/
  /*position: fixed;*/
  /*left: 270px;*/
  /*right: 0;*/
  /*top: 0;*/
  /*bottom: 0;*/
  /*z-index: 0;*/
  /*overflow-y: auto;*/
  /*overflow-x:hidden;*/
}

.section .active{
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}

.section.back-section{
  z-index: 1;
}

@keyframes slideSection {
  0%{
    transform: translateX(100%);
  }
}

.container{
  padding-bottom: 40px;
}

.padd-15{
  padding-left: 1rem;
  padding-right: 1rem;
}

.container{
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.section .container{
  padding-top: 3.75rem;
  padding-bottom: 70px;
}

.section-title{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 3.75rem;

}
.section-title h2{
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.section-title h2::before{
  content: '';
  position: absolute;
  width: 3.125rem;
  height: 4px;
  background: var(--skin-color);
  top: 100%;
  left: 0;
}

.section-title h2::after{
  content: '';
  position: absolute;
  width: 25px;
  height: 4px;
  background: var(--skin-color);
  top: 100%;
  left: 0;
  margin-top: 8px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.938rem;
  margin-right: -0.938rem;
  position: relative;
}

.aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  background: var(--bg-black-100);
  border-right: 0.063rem solid var(--bg-black-50);
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  padding: 1.875rem;
  z-index: 10;
}

.btn{
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 2rem;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--skin-color);
  transition: all 0.3s ease;
}

.btn:hover{
  transform: scale(1.1);
  opacity: 0.8;
}

.shadow-dark{
  box-shadow: 0 0 1.25rem rgba(48, 46, 77 ,0.15);
}



.aside .logo{
  position: absolute;
  top: 5.125rem;
  left: 3rem;
  font-size: 1.875rem;
  text-transform: capitalize;
}

.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 0.938rem 1.25rem;
  font-size: 1.875rem;
  letter-spacing: 5px;
  position: relative;

}

.aside .logo a span {
  font-family: 'Clicker Script', cursive;
  font-size: 40px;


}

.aside .logo a::before{
  content: '';
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}

.aside .logo a::after{
  content: '';
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}

.nav-toggler{
  height: 40px;
  width: 45px;
  cursor: pointer;
  position: fixed;
  z-index: 999;
  left: 20px;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: var(--bg-black-100);
}

.nav-toggler span{
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}

.nav-toggler span::before{
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}

.nav-toggler span::after{
  content: '';
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: 6px;
  left: 0;
}

.nav{
  margin-top: 8rem;
}

.nav li{
  margin-bottom: 1.25rem;
  display: block;
}

.nav li a {
  font-size: 1rem;
  font-weight: 600;
  display: block;
  color: var(--text-black-900);
  border-bottom: 0.063rem solid var(--bg-black-50);
  padding: 5px 0.938rem;
}
 .nav li a.active{
  color: var(--skin-color);
}
.nav li a i{
  margin-right: 0.938rem;
}


/* Home */
.home{
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}


.home .home-info{
  flex: 0 0 60%;
  max-width: 60%;
}

h3.hello{
  font-size: 28px;
  margin: 0.938rem 0;
}

h3.hello span.name{
  font-family: 'Clicker Script', cursive;
}

h3.hello span{
font-size: 1.875rem;
  font-weight: 700;
  color: var(--skin-color);
}

h3.my-profession{
  font-size: 1.875rem;
  margin: 0.938rem 0 ;
}

.typing{
  font-family: 'Clicker Script', cursive;
  color: var(--skin-color);
}

.home-info p{
  margin-bottom: 70px;
  font-size: 1.25rem;
  color: var(--text-black-700);
}

.home .home-img{
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;

}

.home-img::before{
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 0.625rem solid var(--skin-color);
  border-left: 0.625rem solid var(--skin-color);
  left: 0;
  top: -1.875rem;
}

.home-img::after{
  content: '';
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 0.625rem solid var(--skin-color);
  border-right: 0.625rem solid var(--skin-color);
  right: 0;
  bottom: -1.875rem;
}

.home .home-img img{
  height: 400px;
  margin: auto;
  border-radius: 5px;
}


.laptop-img{
margin-top: 3rem;
  width: 80%;
}


.about .about-content{
  flex: 0 0 100;
  max-width: 100%;
}

.about .about-content .about-text{
  flex: 0 0 100;
  max-width: 100%;
}

.about .about-content .about-text h3{
  font-size: 24px;
  margin-bottom: 0.938rem;
  font-weight: 700;
  color: var(--text-black-900);

}

.about .about-content .about-text h3 span{
  color: var(--skin-color);
  font-family: 'Clicker Script', cursive;
  font-size: 28px;
}

.about .about-content .about-text p {
  font-size: 1rem;
  line-height: 25px;
  color: var(--text-black-700);
}

.about .about-content .personal-info{
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;

}

.about .about-content .personal-info .info-item{
  flex: 0 0 50%;
  max-width: 50%;
}
.about .about-content .personal-info .info-item p{
  font-weight: 700;
  font-size: 1rem;
  padding: 1.25rem 0;
  color: var(--text-black-900);
  border-bottom: 0.063rem solid var(--bg-black-50);

}

.about .about-content .personal-info .info-item p span{
  color: var(--text-black-700);
  font-family: "Clicker Script", cursive;
  display: inline-block;
}

.about .about-content .personal-info .buttons{
  margin-top: 1.875rem;
}

.about .about-content .personal-info .buttons .btn{
  margin-right: 0.938rem;
}

.about .about-content .skills{
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}

.icon-about{
  color: var(--skin-color);
  padding-right: 8px;
}


.about .about-content .skills .skill-item{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 0.938rem;
}

.about .about-content .skills .skill-item h5{
  line-height: 40px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1rem;
  color: var(--text-black-900);
}

.about .about-content .skills .skill-item .progress{

  background-color: var(--bg-black-50);
  font-family: "Clicker Script", cursive;
  border-radius: 5px;
  width: 100%;
  height: 0.625rem;
  position: relative;
}

.about .about-content .skills .skill-item .progress .progress-in{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 5px;
  background-color: var(--skin-color);
  animation: fillBars 0.3s 1;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

.about .about-content .skills .skill-item .progress .skill-percent{

  position: absolute;
  right: 0;
  color: var(--text-black-700);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}

.about .about-content .education ,
.about .about-content .experience{
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 1.875rem;
}

.about .about-content h3.title{

  font-weight: 700;
  font-size: 24px;
  margin-top: 1rem;
  margin-bottom: 1.875rem;
  font-family: "Clicker Script",cursive;
}

.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .timeline{

  background-color: var(--bg-black-100);
  padding: 1.875rem 0.938rem;
  border: 0.063rem solid var(--bg-black-50);
  border-radius: 0.625rem;
  width: 100%;
  position: relative;
}

.about .about-content .timeline .timeline-item{
  position: relative;
  padding-left: 37px;
  padding-bottom: 3.125rem;
}


.about .about-content .timeline .timeline-item:last-child{
  padding-bottom: 0;
}
.about .about-content .timeline .timeline-item::before{
  content: '';
  width: 0.063rem;
  height: 100%;
  position: absolute;
  left: 7px;
  background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-item .circle-dot{
  position: absolute;
 left: 0;
 top: 0;
  height: 0.938rem;
  width: 0.938rem;
  border-radius: 50%;
  background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date{
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
  color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date i{
  margin-right: 1rem;
}

.about .about-content .timeline .timeline-title{
  font-family: "Clicker Script",cursive;
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 0.938rem;
  color: var(--text-black-900);
  text-transform: capitalize;
}

.about .about-content .timeline .timeline-text{
line-height: 1.563rem;
  font-size: 1rem;
  text-align: left;
  color: var(--text-black-700) ;
}

/* service*/

.service .service-item {
  margin-bottom: 1.875rem;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.service .service-item .service-item-inner{
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 0.625rem;
  padding: 1.875rem 0.938rem;
  text-align: center;
  transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover{
  box-shadow: 0 0 1.25rem rgba(48, 46, 77, 0.15);
}

.service .service-item .service-item-inner .icon{
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1.875rem;
  text-align: center;
  font-size: 40px;
  line-height: 3.75rem;
  color: var(--skin-color);
  transition: all 0.3s ease-in-out;
}

.service .service-item .service-item-inner:hover .icon{
  background: var(--skin-color);
  color: #ffffff;
  font-size: 25px;
}

.service .service-item .service-item-inner h4{
  font-size: 1rem;
  font-family: "Clicker Script", cursive;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
}

.service .service-item .service-item-inner p{
font-size: 1rem;
  color: var(--text-black-700);
  line-height: 25px;
}

/* portfolio*/

.portfolio .porfolio-heading{
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 30px;
}

.portfolio .porfolio-heading h2{
  font-family: "Clicker Script", cursive;
  font-weight: 500;
}

.portfolio .portfolio-item{
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
}

.portfolio .portfolio-item-inner {
  border: 6px solid var(--bg-black-100);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;

}

.portfolio .portfolio-img{
  object-fit: cover;
  overflow: hidden;
  width:  1000% ;
  display: block;
}

/*contact*/

.contact-title{
  color: var(--skin-color);
  font-family: "Clicker Script", cursive;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.contact-sub-title{
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.contact .contact-info-item{
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 60px;
}

.contact .contact-info-item .icon{
  display: inline-block;
  font-size: 25px;
  color: var(--skin-color);
}

.contact .contact-info-item p{
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-black-900);
  font-family: "Clicker Script",cursive;
  margin: 5px 0 5px;
  text-transform: capitalize;
}

.contact .contact-form{
  flex: 0 0 100% ;
  max-width: 100%;
}
.contact .contact-form .form-item{
  margin-bottom: 30px;
}

.contact .contact-form .col-6{
  flex: 0 0 50%;
  max-width: 50%;
}

.contact .contact-form .col-12{
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .form-item .form-control{
  width: 100%;
  height: 50px;
  border-radius: 15px;
  background: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 1rem;
  font-family: "Clicker Script", cursive;
  color: var(--text-black-700);
  text-transform: capitalize;
}

.contact .contact-form .form-item .form-control:focus{
  box-shadow: 0 0 20px rgba(48, 46, 77 , 0.15);
}

.contact .contact-form .form-item textarea.form-control{
  height: 140px;
}

.contact .contact-form .btn{
  height: 50px;
  padding: 0 50px;
}

/* Letter email animation*/

.letter-container{
  margin-top: 5rem;
}
.letter-image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.animated-mail {
  position: absolute;
  height: 150px;
  width: 200px;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;

  .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent var(--skin-color) transparent;
    z-index: 2;
  }

  .top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: transform .4s .4s, z-index .2s .4s;
    -moz-transform-origin: 50% 0%;
    -moz-transition: transform .4s .4s, z-index .2s .4s;
    transform-origin: 50% 0%;
    transition: transform .4s .4s, z-index .2s .4s;
    border-color: var(--text-black-700) transparent transparent transparent;
    z-index: 2;
  }

  .back-fold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: var(--bg-black-100);
    z-index: 0;
  }

  .left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent var(--skin-color);
    z-index: 2;
  }

  .letter {
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 160px;
    height: 60px;
    background: white;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: .4s .2s;
    -moz-transition: .4s .2s;
    transition: .4s .2s;

    .letter-border {
      height: 10px;
      width: 100%;
      background: repeating-linear-gradient(
        -45deg,
        var(--skin-color),
        var(--text-black-700) 8px,
        transparent 8px,
        transparent 18px
      );
    }

    .letter-title {
      margin-top: 10px;
      margin-left: 5px;
      height: 10px;
      width: 40%;
      background: var(--skin-color);
    }
    .letter-context {
      margin-top: 10px;
      margin-left: 5px;
      height: 10px;
      width: 20%;
      background: var(--skin-color);
    }

    .letter-stamp {
      margin-top: 30px;
      margin-left: 120px;
      border-radius: 100%;
      height: 30px;
      width: 30px;
      background: var(--skin-color);
      opacity: 0.3;
    }
  }
}

.shadow {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: .4s;
  transform: translateX(-50%);
  -webkit-transition: .4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: .4s;
  -moz-transform: translateX(-50%);

  border-radius: 100%;
  background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.0), rgba(0,0,0,0.0));
}

.letter-image:hover {
  .animated-mail {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
  }

  .animated-mail .top-fold {
    transition: transform .4s, z-index .2s;
    transform: rotateX(180deg);
    -webkit-transition: transform .4s, z-index .2s;
    -webkit-transform: rotateX(180deg);
    -moz-transition: transform .4s, z-index .2s;
    -moz-transform: rotateX(180deg);
    z-index: 0;
  }

  .animated-mail .letter {
    height: 180px;
  }

  .shadow {
    width: 250px;
  }
}
@media(max-width: 1660px){
  .aside{
    display: none;
  }

}


@media(max-width: 1199px) {


  .main-content{
    padding-left: 0;
  }

  .about .about-content .personal-info .info-item .info-item p span{
    display: block;
    margin-left: 0;
  }
}


@media(max-width: 991px) {



  .portfolio .portfolio-item,
  .contact.portfolio-item,
  .service .service-item{
    flex: 0 0 50%;
    max-width: 50%;
  }

  .about .about-content .education,
  .about .about-content .experience,
  .home .home-info{
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home .home-img{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 3rem;
  }

  .btn{
    margin-bottom: 1rem;
  }

}


@media(max-width:767px){

  .about .about-content .skills,
  .about .about-content .personal-info,
  .contact .contact-info-item,
  .contact .contact-form .col-6{
    flex:  0 0 100%;
    max-width: 100%;

  }

  .home .home-info{
    text-align: center;
  }

  .home .home-img img{
    height: 200px;
    width: 200px;
  }




}

@media(max-width:600px){
   .service .service-item,
   .portfolio .portfolio-item,
   .contact .contact-info-item
 {
     flex: 0 0 100%;
     max-width: 100%;
   }
}


@keyframes fillBars {
  from {
    width: 0;
  }
  to{
    max-width: 100%;
  }

}
